<div class="row ddrow" style="padding:4px;">
	<div class="col-md-8">
		<div class="input-group">
			<div class="input-group-btn">

				{{bs-select dd="ddLeft" 
							ddId='Filter'
							ddLabel="Select a filter..."
							ddData=queryRules
							action='selectedAnItem'
							bbSelect=true
							bbReplaceable=false
				}}
				{{bs-select dd="ddMid" 
							ddId='Compare'
							ddLabel="Select a comparison..."
							ddData=comparison
							action='selectedAnItem'
							bbSelect=true
							bbReplaceable=false
				}}
				{{bs-select dd="ddRight" 
							ddId='Value'
							ddLabel="Select a value..."
							ddData=currentValues
							action='selectedAnItem'
							bbSelect=true
							bbReplaceable=true
				}}

			</div>
		</div>
	</div>
	<div class="col-md-4 text-right pull-right">
		<a id="addLiner" class="btn btn-primary btn-xs oneLinerButton">+</a>
	</div>
</div>

{{selectedFilter.name}} and {{selectedValue.name}}
