<div class="row ddrow" style="padding:4px;">
	<div class="col-md-8">
		<div class="input-group">
			<div class="input-group-btn">
				<span class="dropdown ddLeft">
					{{#bs-dropdown}}
						{{#bs-dropdown-button}}
							Select a filter... <span class="caret"></span>
						{{/bs-dropdown-button}}
						{{#bs-dropdown-menu}}
							{{#each queryRules as |rule|}}
							<li {{action "selectionAHappened" rule rule.id on="mouseUp"}}>{{#link-to "index"}}{{rule.name}}{{/link-to}}</li>
							{{/each}}
						{{/bs-dropdown-menu}}
					{{/bs-dropdown}}
				</span>
				<span class="dropdown ddMid">
					{{#bs-dropdown}}
						{{#bs-dropdown-button}}
							&nbsp;&nbsp;&nbsp; <span class="caret"></span>
						{{/bs-dropdown-button}}
						{{#bs-dropdown-menu}}
							<li>{{#link-to "index"}}Something{{/link-to}}</li>
							<li>{{#link-to "index"}}Other{{/link-to}}</li>
						{{/bs-dropdown-menu}}
					{{/bs-dropdown}}
				</span>
				<span class="dropdown ddRight">
					{{#bs-dropdown}}
						{{#bs-dropdown-button}}
							Select a value... <span class="caret"></span>
						{{/bs-dropdown-button}}
						{{#bs-dropdown-menu}}
							{{#each currentValues as |cval|}}
							<li {{action "selectionBHappened" cval on="mouseUp"}}>{{#link-to "index"}}{{cval}}{{/link-to}}</li>
							{{/each}}
						{{/bs-dropdown-menu}}
					{{/bs-dropdown}}

				</span>
			</div>
		</div>
	</div>
	<div class="col-md-4 text-right pull-right">
		<a id="addLiner" class="btn btn-primary btn-xs oneLinerButton">+</a>
	</div>
</div>

{{selectedFilterA.name}} and {{selectedValue}}
